.container {
  width: 100%;
  max-width: 480px;
}

.slider{
  display: flex;
  margin-bottom: 20px;
}

.slider__label {
  width: 120px;
}

.slider__value {
  width: 40px;
}

.slider__input {
  width: 100%;
}

button {
  background: darkgray;
  border: 0;
  padding: 16px;
  font-weight: bold;
  width: 100%;
}

button:hover {
  background: gray;
}